body{
    background-color: rgba(74, 61, 121, 0.586);
}
ca{
    font-size: 30px;
    color: rgb(245, 0, 41);
}
div{
    color: rgb(10, 45, 243);
}
select{
    color: rgb(0, 0, 0);
}
g{
    color: rgb(253, 253, 253);
}
l{
    color: rgb(10, 45, 243);
}